@import "variables";

h1 {
    color: $red-color;
}

h2 {
    color: $green-color;
}

.card-course-item {
    margin-bottom: 16px;
}

.checkbox-select-all-options {
    width: 208px;
    margin: 0 16px;
}
